# See http://help.github.com/ignore-files/ for more about ignoring files.

angular.env
server.env

# compiled output
news-bias/dist
news-bias/tmp
news-bias/out-tsc

# dependencies
news-bias/node_modules
server/node_modules
classifiers/category_classifier
scraper/venv
classifiers/models/jong-rnn/glove
classifiers/models/jong-rnn/venv2
classifiers/models/jong-rnn/venv
classifiers/models/jong-rnn/venv3.5
classifiers/models/jong-rnn/saved_model
classifiers/models/roomylee/GoogleNews-vectors-negative300.bin.gz
classifiers/models/roomylee/GoogleNews-vectors-negative300.bin
classifiers/models/roomylee/runs
classifiers/models/bert

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
