<div style="background-color: #3a539bff;" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div id="desc">An individual's beliefs and opinions can be largely shaped by the news media they and those around them consume.</div>
  <div id="desc2">
    News organizations exhibit biases towards various domains.
    Readers may not know this. It is important that consumers understand these biases before forming their own  independent opinions
  </div>
  <a routerLink="/rate"><div id="getStarted">GET STARTED</div></a>
</div>
