<div id="content" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="40px">

  <div fxLayout="column" fxLayoutAlign="stretch stretch">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="rating.category">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutAlign="stretch stretch">
    <!--<mat-label>Rating</mat-label>-->
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      fxLayout="column" fxFlex="33" fxLayoutGap="40px"
      [(ngModel)]="rating.polarity">
      <div fxLayout="row" *ngFor="let polarity of polarities" fxLayoutAlign="start center">
        <mat-radio-button class="example-radio-button" [value]="polarity.value">
        </mat-radio-button>
        <mat-label>{{polarity.viewValue}}</mat-label>
      </div>
    </mat-radio-group>
  </div>
</div>
